node_modules/
coverage/
dist/
logs/
*.log
Microsoft/
output/
target/
backend/target/

backend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.production.local

.DS_Store
Thumbs.db
.vscode/
